<footer class="text-white">
    <strong id="slogan" class="m-2">"Where friends gather to talk about national parks
        of the USA!"</strong>
    <p>&copy; 2024 Parkreation. All rights reserved.</p>
</footer>