<div class="">
    <div class="m-2 p-2 bg-success">
        <h3 class="text-center">Parks Visited</h3>
    </div>
    <div class="m-2 p-2 bg-success">
        <ul>
            {{#each visited as |park|}}
            <li><a href="/park/{{this.park_code}}" class="link-light">{{this.park_name}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>