<div class="">
    <div class="m-2 p-2 bg-success">
        <h3>Wish to Visit</h3>
    </div>

    <div class="m-2 p-2 bg-success">
        <ul>
            <li>Test Item</li>
        </ul>
    </div>
</div>