<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkreation</title>
</head>
<body>
    <header>
        <h1>Parkreation</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/parks">Parks</a></li>
                <li><a href="/parks/new">Add Park</a></li>
            </ul>
        </nav>
    </header>
   {{{body}}}
</body>
</html>