<div class="text-center text-white h-100 w-100 d-flex flex-column align-items-center justify-content-center">
  <h1 class="display-1"><strong>Parkreation</strong></h1>
  <h3>Welcome to Parkreation!</h3>

  {{#unless signedIn}}
  <span class="text-light">
    <a href="signin">
      <button class="btn btn-primary">
        Sign in
      </button>
    </a>
    or
    <a href="/register">
      <button class="btn btn-primary">
        Register
      </button>
    </a>
  </span>
  {{else}}
  {{/unless}}
</div>