<form>
    <div class="form-group">
        <label for="email-register">Email address</label>
        <input type="email" class="form-control" id="email-register" aria-describedby="validEmail" placeholder="Enter email">
        <small id="validEmail" class="form-text text-muted">Please enter a valid email.</small>
    </div>
    <div class="form-group">
        <label for="username-register">Password</label>
        <input type="text" class="form-control" id="username-register" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password-register">Password</label>
        <input type="password" class="form-control" id="password-register" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>