body {
    background-image: url(../../images/yellowstone-national-park-bison-herd-madison-river-valley.jpg);
    background-size: cover;
    /* background-color: blue; */
}

.bg-image {
    background-image: url(../../images/yellowstone-national-park-bison-herd-madison-river-valley.jpg);
    background-size: cover;
}

footer {
    text-align: center;
}